img {
    display: block;
    height: 220px;
    width: 338px;
    margin: 90px auto 0 auto;
}

input {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 40px;
    border-radius: 20px;
    color: rgb(163, 163, 163);
}